@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Inter:wght@400;500&family=Manrope:wght@400;500;600;700;800&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*--------------------*/
html,
body {
  height: 100%; }

body {
  line-height: 1;
  font-family: "Manrope", sans-serif;
  color: #333333; }

/*--------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/*--------------------------*/
.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.37;
  color: #000000; }
  @media (max-width: 767.98px) {
    .title {
      font-size: 30px; } }

.title_center {
  text-align: center; }

/*--------------------------*/
.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

/*--------------------------*/
[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto; }
  @media (max-width: 1199.98px) {
    [class*="__container"] {
      max-width: 970px; } }
  @media (max-width: 991.98px) {
    [class*="__container"] {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    [class*="__container"] {
      max-width: none;
      padding: 0 15px; } }

/*----header----------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; }

.header__container {
  min-height: 103px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  row-gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767.98px) {
    .header__container {
      min-height: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.header__logo {
  font-weight: 800;
  font-size: 23px;
  line-height: 1.34;
  color: #31353b; }

/*----menu------------*/
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 46px;
  column-gap: 46px;
  row-gap: 5px; }
  @media (max-width: 767.98px) {
    .menu__list {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.menu__link {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.3;
  color: #000000; }
  .menu__link:hover {
    text-decoration: underline; }
  @media (max-width: 767.98px) {
    .menu__link {
      font-size: 18px; } }

/*----main------------*/
.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 110px; }
  @media (max-width: 991.98px) {
    .main-block {
      padding-bottom: 70px; } }
  @media (max-width: 767.98px) {
    .main-block {
      padding-bottom: 30px; } }

.main-block__container {
  padding-top: 184px;
  position: relative; }
  .main-block__container::after {
    background-color: #bdccff;
    content: "";
    position: absolute;
    top: 0;
    left: 68%;
    height: 100%;
    width: 100%; }

.main-block__body {
  margin-bottom: 14px; }

.body-main-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.body-main-block__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%; }

.content-main-block {
  padding-top: 40px;
  position: relative;
  z-index: 2; }

.content-main-block__body {
  padding-right: 68px; }

.content-main-block__sub-title {
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.32;
  color: #ff9900;
  margin-bottom: 20px; }

.content-main-block__title {
  font-weight: 800;
  font-size: 54px;
  line-height: 1.35;
  color: #000000;
  margin-bottom: 20px; }

.content-main-block__text {
  font-size: 17px;
  line-height: 1.35;
  letter-spacing: 0.01em;
  color: #31353b;
  margin-bottom: 45px; }

.form-main-block {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -188px;
  background: #fff url("/img/main/icons/Icon.svg") 33px 33px no-repeat;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222); }

.form-main-block__input {
  border: 1px solid #dadada;
  padding: 0px 0px 0px 74px;
  height: 86px;
  font-size: 20px;
  line-height: 1.35;
  background-color: transparent;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .form-main-block__input::-webkit-input-placeholder {
    color: #31353b;
    opacity: 0.3;
    letter-spacing: 0.01em; }
  .form-main-block__input:-ms-input-placeholder {
    color: #31353b;
    opacity: 0.3;
    letter-spacing: 0.01em; }
  .form-main-block__input::-ms-input-placeholder {
    color: #31353b;
    opacity: 0.3;
    letter-spacing: 0.01em; }
  .form-main-block__input::placeholder {
    color: #31353b;
    opacity: 0.3;
    letter-spacing: 0.01em; }

.form-main-block__button {
  cursor: pointer;
  background-color: #f85a47;
  width: 188px;
  height: 86px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 188px;
  flex: 0 0 188px;
  padding: 5px 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.35;
  letter-spacing: 0.01em;
  color: #ffffff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .form-main-block__button:hover {
    background-color: #741e15; }

.body-main-block__slider {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%; }

.slider-main-block__slide {
  position: relative;
  padding-bottom: 95%;
  -webkit-box-shadow: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.015)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222));
  box-shadow: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.015)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222)); }
  .slider-main-block__slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.body-main-block__arrows {
  position: absolute;
  bottom: -52px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px; }

.body-main-block__arrow.swiper-button-prev,
.body-main-block__arrow.swiper-button-next {
  position: static;
  height: 20px;
  width: 11px;
  background: url("/img/main/icons/right.svg") 0 0/100% no-repeat; }
  .body-main-block__arrow.swiper-button-prev::after,
  .body-main-block__arrow.swiper-button-next::after {
    display: none; }

.body-main-block__arrow.swiper-button-prev {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }

/*.swiper-button-prev {
}
.swiper-button-next {
}*/
.partners-main-block {
  max-width: 65%; }

.partners-main-block__label {
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 1.35;
  letter-spacing: 0.01em;
  color: #31353b; }

.partners-main-block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px; }

.partners-main-block__item img {
  max-width: 100%; }

@media (max-width: 1199.98px) {
  .main__block__container {
    padding-top: 100px;
    padding-bottom: 30px; }
  .content-main-block__body {
    padding-right: 0; }
  .body-main-block {
    display: block; }
  .form-main-block {
    margin-right: 0; }
  .body-main-block__content {
    margin-bottom: 40px; }
  .main-block__body {
    margin-bottom: 40px; }
  .partners-main-block {
    position: relative;
    z-index: 2;
    max-width: none; } }

@media (max-width: 767.98px) {
  .partners-main-block__items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .content-main-block__title {
    font-size: 36px;
    line-height: 1.2; }
  .form-main-block {
    display: block; }
  .form-main-block__button {
    width: 100%; } }

@media (max-width: 479.98px) {
  .form-main-block {
    background: #fff; }
  .form-main-block__input {
    padding: 0 15px; } }

.main-block__social {
  padding-right: 40px;
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px; }

.social__item {
  display: block; }

/*----how-------------*/
.how {
  padding: 110px 0; }
  @media (max-width: 991.98px) {
    .how {
      padding: 70px 0; } }
  @media (max-width: 767.98px) {
    .how {
      padding: 30px 0; } }

.how__title {
  margin-bottom: 70px; }

.how_items {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-grid-columns: (minmax(auto, 260px))[3];
  grid-template-columns: repeat(3, minmax(auto, 260px));
  -webkit-column-gap: 30px;
  column-gap: 30px;
  row-gap: 45px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (min-width: 991.98px) {
    .how_items {
      padding: 0 35px; } }

.item-how {
  text-align: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  position: relative; }

.item-how_1 .item-how__icon {
  background-color: #9672ff;
  -webkit-box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
  box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519); }

.item-how_2 .item-how__icon {
  background-color: #4ddffd;
  -webkit-box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
  box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519); }

.item-how_3 .item-how__icon {
  background-color: #f2b8ec;
  -webkit-box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
  box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519); }

.item-how:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 41px;
  right: 0;
  width: 210px;
  -webkit-transform: translate(86.5%, 0px);
  -ms-transform: translate(86.5%, 0px);
  transform: translate(86.5%, 0px);
  height: 11px;
  background: url("/img/works/icons/Group 1.svg") 0 0/100% no-repeat; }

.item-how_2:not(:last-child)::after {
  -webkit-transform: translate(86.5%, 0px) rotate(180deg);
  -ms-transform: translate(86.5%, 0px) rotate(180deg);
  transform: translate(86.5%, 0px) rotate(180deg); }

.item-how__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 20px;
  margin-bottom: 50px; }

.item-how__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.35;
  color: #000000;
  margin-bottom: 15px; }

.item-how__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.63; }

@media (max-width: 1199.98px) {
  .item-how:not(:last-child)::after {
    width: 170px;
    -webkit-transform: translate(68.5%, 0px);
    -ms-transform: translate(68.5%, 0px);
    transform: translate(68.5%, 0px); }
  .item-how_2:not(:last-child)::after {
    -webkit-transform: translate(68.5%, 0px) rotate(180deg);
    -ms-transform: translate(68.5%, 0px) rotate(180deg);
    transform: translate(68.5%, 0px) rotate(180deg); } }

@media (max-width: 991.98px) {
  .item-how:not(:last-child)::after {
    width: 130px;
    -webkit-transform: translate(63%, 0px);
    -ms-transform: translate(63%, 0px);
    transform: translate(63%, 0px); }
  .item-how_2:not(:last-child)::after {
    -webkit-transform: translate(63%, 0px) rotate(180deg);
    -ms-transform: translate(63%, 0px) rotate(180deg);
    transform: translate(63%, 0px) rotate(180deg); } }

@media (max-width: 767.98px) {
  .how_items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .item-how:not(:last-child)::after {
    display: none; }
  .item-how__icon {
    margin-bottom: 20px; }
  .how__title {
    margin-bottom: 30px; } }

/*----deals-----------*/
.deals {
  padding-top: 110px;
  padding-bottom: 110px; }
  @media (max-width: 991.98px) {
    .deals {
      padding: 70px 0; } }
  @media (max-width: 767.98px) {
    .deals {
      padding: 30px 0; } }

.deals__header {
  margin-bottom: 50px; }

.header-deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px; }

.header-deals__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.header-deals__title:not(:last-child) {
  margin-bottom: 15px; }

.header-deals__text {
  max-width: 470px;
  font-size: 16px;
  line-height: 1.5;
  color: #000000; }

.header-deals__link {
  display: inline-block;
  padding: 21px 33px;
  width: 200px;
  height: 65px;
  background-color: #f85a47;
  -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.35;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .header-deals__link:hover {
    background-color: #741e15; }
  @media (max-width: 767.98px) {
    .header-deals__link {
      width: 100%; } }

.tabs-deals__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 50px;
  column-gap: 50px;
  row-gap: 10px;
  margin-bottom: 35px; }

.tabs-deals__button {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  font-size: 19px;
  line-height: 1.37;
  color: #000000;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s; }
  .tabs-deals__button.active {
    color: #f85a47; }
    .tabs-deals__button.active::after {
      width: 100%; }
  .tabs-deals__button:hover {
    color: #f85a47; }
  .tabs-deals__button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    -webkit-transition: width 0.5s ease 0s;
    -o-transition: width 0.5s ease 0s;
    transition: width 0.5s ease 0s;
    background-color: #f85a47; }
  .tabs-deals__button:hover::after {
    width: 100%; }

.tabs-deals__item {
  display: none; }
  .tabs-deals__item.active {
    display: block; }

.item-tabs__items {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); }

.item-tabs__item {
  position: relative; }

.item-tabs__options {
  position: absolute;
  z-index: 2;
  top: 14px;
  left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 6px; }

.item-tabs__option {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  padding: 6px 12px;
  color: #ffffff; }
  .item-tabs__option:hover {
    background-color: rgba(0, 0, 0, 0.6); }

.item-tabs__image {
  position: relative;
  display: block;
  padding-bottom: 81%;
  border-radius: 5px;
  overflow: hidden; }
  .item-tabs__image img {
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover; }

.item-tabs__image:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

/*----featufed--------*/
.featured {
  padding: 110px 0; }
  @media (max-width: 991.98px) {
    .featured {
      padding: 70px 0; } }
  @media (max-width: 767.98px) {
    .featured {
      padding: 30px 0; } }

.featured__title {
  margin-bottom: 95px; }
  @media (max-width: 991.98px) {
    .featured__title {
      margin-bottom: 50px; } }
  @media (max-width: 767.98px) {
    .featured__title {
      margin-bottom: 30px; } }

.featured__body {
  background-color: #f1ffff;
  padding: 40px 40px 80px 40px;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 77px;
  column-gap: 77px;
  row-gap: 40px;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr); }
  @media (max-width: 991.98px) {
    .featured__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; } }
  @media (max-width: 767.98px) {
    .featured__body {
      margin: 0 -15px;
      padding: 20px 15px 20px 15px; } }

.featured__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.images-featured {
  display: -ms-grid;
  display: grid;
  justify-items: center; }

.images-featured__item img {
  max-width: 100%; }

.images-featured__item_mini {
  margin-left: 20px;
  margin-right: 20px;
  -webkit-filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
  filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
  margin-top: -114px; }

.content-featured__title {
  font-weight: 600;
  font-size: 31px;
  line-height: 1.35;
  color: #000000;
  margin-bottom: 25px; }
  @media (max-width: 767.98px) {
    .content-featured__title {
      font-size: 24px; } }

.content-featured__text {
  font-size: 16px;
  line-height: 1.5;
  color: #545a58;
  margin-bottom: 40px;
  max-width: 344px; }

.content-featured__options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 55px; }
  @media (max-width: 479.98px) {
    .content-featured__options {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 35px; } }

.content-featured__link {
  background-color: #f85a47;
  -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  padding: 15px 35px;
  text-transform: uppercase;
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .content-featured__link:hover {
    background-color: #92382e; }

@media (min-width: 991px) {
  .content-featured__body {
    padding-top: 40px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 412px; }
  .content-featured__link {
    max-width: 412px; } }

.options-content-featured__item {
  font-size: 17px;
  line-height: 1.35; }

.options-content-featured__label {
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px; }

.options-content-featured__value {
  color: #545a58; }

/*---simple-rating----*/
.simple-rating {
  position: relative;
  font-size: 24px;
  display: inline-block; }
  .simple-rating::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    display: block; }

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  overflow: hidden; }

.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0; }

.simple-rating__label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #fbb040; }
  .simple-rating__label::before {
    content: "\2605";
    display: block;
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s; }

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #fbb040; }

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffef9f; }

/*----reviews----------*/
.reviews {
  padding: 110px 0; }
  @media (max-width: 991.98px) {
    .reviews {
      padding: 70px 0; } }
  @media (max-width: 767.98px) {
    .reviews {
      padding: 30px 0; } }

.reviews__title {
  margin-bottom: 50px;
  max-width: 570px; }

.reviews__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px; }

.item-reviews {
  color: inherit;
  padding: 50px 40px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .item-reviews:hover {
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08); }

.item-reviews__raiting {
  margin-bottom: 33px; }

.item-reviews__text {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 50px; }

.item-reviews__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.author-item-reviews__avatar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  border-radius: 50%;
  overflow: hidden; }

.author-item-reviews__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4; }

.author-item-reviews__location {
  font-size: 14px;
  line-height: 1.35;
  color: #666666; }

.reviews__footer {
  padding-top: 85px; }

.footer-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
  column-gap: 100px; }
  @media (max-width: 991.98px) {
    .footer-reviews {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      row-gap: 30px; } }

.footer-reviews__partners {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.partners-footer-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer-reviews__info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 311px;
  flex: 0 0 311px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  .footer-reviews__info a {
    color: #2cbde7;
    text-decoration: underline; }
    .footer-reviews__info a:hover {
      text-decoration: none; }

/*----subscribe---------*/
.subscribe {
  padding-top: 110px;
  padding-bottom: 110px; }
  @media (max-width: 991.98px) {
    .subscribe {
      padding: 70px 0; } }
  @media (max-width: 767.98px) {
    .subscribe {
      padding: 30px 0; } }

.subscribe__header {
  text-align: center;
  font-weight: 700;
  line-height: 1.44;
  letter-spacing: 0.02em;
  color: #31353B;
  margin-bottom: 34px; }

.subscribe__title {
  font-size: 45px; }
  @media (max-width: 991.98px) {
    .subscribe__title {
      font-size: 35px; } }
  @media (max-width: 767.98px) {
    .subscribe__title {
      font-size: 24px; } }

.subscribe__subtitle {
  font-size: 23px; }
  @media (max-width: 991.98px) {
    .subscribe__subtitle {
      font-size: 20px; } }
  @media (max-width: 767.98px) {
    .subscribe__subtitle {
      font-size: 18px; } }

.subscribe__form {
  max-width: 686px;
  margin: 0 auto; }

.form-subscribe {
  padding: 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
  box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963); }
  @media (max-width: 767.98px) {
    .form-subscribe {
      margin: 0 -15px;
      padding: 15px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form-subscribe__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.form-subscribe__label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.44;
  letter-spacing: 0.02em;
  color: #31353B;
  opacity: 0.2; }

.form-subscribe__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  min-height: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.44;
  letter-spacing: 0.02em;
  color: #31353B; }

.form-subscribe__button {
  cursor: pointer;
  background-color: #F85A47;
  -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  padding: 23px 40px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .form-subscribe__button:hover {
    background-color: #8d3126; }

/*----footer----------*/
.footer {
  margin-top: 100px;
  color: #31353B; }

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  border-top: 1px solid #DEDFE1;
  row-gap: 70px;
  -webkit-column-gap: 20px;
  column-gap: 20px; }
  @media (max-width: 767.98px) {
    .footer__container {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 30px;
      padding-top: 30px;
      padding-bottom: 30px; } }

.footer__logo {
  color: inherit;
  font-weight: 800;
  font-size: 23px;
  line-height: 1.35; }

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
  column-gap: 45px;
  row-gap: 15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.menu-footer__link {
  color: inherit;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.3; }
  .menu-footer__link:hover {
    text-decoration: underline; }

.footer__copy {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px; }
  @media (min-width: 768px) {
    .footer__copy {
      -ms-grid-column-span: 2;
      grid-column: span 2; } }
